<section class="auth-form">

	<h1>Login</h1>
	<div>

<!-- how do I change this to be a Google sign in -->
<!-- 		<input type="text" placeholder="Email" ng-model="account.email" >
	</div>
	<div>
		<input type="text" placeholder="Password" ng-model="account.password" >
	</div> -->
	<div>
		<!-- <button class='btn btn-info' ng-click='login()'>Login</button> -->
		<button class='btn btn-info' ng-click='loginGoogle()'>Login with Google</button>

		<!-- <button class='btn btn-default' ng-click='register()'>Register</button> -->
	</div>


</section>