<h2>Add a new product!</h2>


	<input type="text" placeholder="What is the product?" ng-model="newUserProduct.name">
	<input type="text" ng-model="newUserProduct.description" placeholder="Say something about this product">

	<select ng-model="newUserLocation">
		<option value="{{userLocation}}" ng-repeat="userLocation in userLocations">{{userLocation.name}}</option>}
		option
  <!-- ﻿⁠⁠⁠⁠<option disabled selected>I am your select box</option>﻿⁠⁠⁠⁠ -->
  </select>



	<!-- <select ng-model="newUserProduct.locationid" >
	 <option value="{{userLocation.id}}" ng-repeat="userLocation in userLocations">{{userLocation.name}}</option>
	</select>
 -->	<button ng-click="addNewLocation()">Find my location</button>
	<input type="text" placeholder="Name your location: " ng-model="newUserLocation.name">
	<h3>{{newUserLocation.name}} - {{newUserLocation.address}}</h3>
	<button ng-click="postNewLocation()">Save the new location</button>


	<button ng-click="addNewProduct()">Save this product</button>