<h2>Add a new product!</h2>
<h5>Please select a saved location below: </h5>


	<select ng-model="selectedLocation">
		<option ng-repeat="userLocation in userLocations" value="{{userLocation.id}}">{{userLocation.name}} - {{userLocation.address}}</option>
  <!-- ﻿⁠⁠⁠⁠<option disabled selected>Pick a saved location: </option>﻿⁠⁠⁠⁠ -->
  </select><br>

  <h5>Or find your current location by clicking the button</h5>
 	<button ng-click="addNewLocation()">Find my location</button>
	<input type="text" placeholder="Name your location: " ng-model="newUserLocation.name">
	<h3>{{newUserLocation.name}}  {{newUserLocation.address}}</h3>
	<button ng-click="postNewLocation()">Save the new location</button>

	<br>
	<h5>Add your product to your app:</h5>

	<input type="text" placeholder="What is the product?" ng-model="newUserProduct.name">

	<button ng-click="addNewProduct()">Save this product</button>